---



---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>


</head>
<body>

<p id="weather-information"> Current information:   </p>

<script>
    function addWeatherResult(weatherData) {
        const element = document.getElementById('weather-information')
        const textNode = document.createTextNode(JSON.stringify(weatherData, null, 2));
        element.appendChild(textNode)
    }
    function failedRequest(error){
        console.log(`There was an issue with that call`)

    }


    function fetchWeather(){
         fetch('https://api.tomorrow.io/v4/weather/forecast?location=42.3478,-71.0466&apikey=X8u8pVQWl7OccqplCmwnknXD7lgZ4766')
            .then(response => {
                if (!response.ok){
                    throw new Error('Network response was not ok')
                }
                return response.json()
            })
             .then(addWeatherResult)
            .catch(failedRequest)
    }

    fetchWeather()

</script>
</body>
</html>