---

---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}>
    <title>Astro</title>

    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
        }

        .box-wrapper {
            display: flex;
            flex-direction: column;
            width: 750px;
            height: 250px;
            align-content: center;
            justify-content: right;
            align-items: center;
            background-color: black;
            border-style: solid;
            border-width: 1px;
            border-color: white;
        }

        #line {
            color: white;
            width: 80%;


        }

        .inner-container-bottom {
            width: 50%;
            height: 100px;
            margin: 50px;
            border-color: white;
            border-style: solid;
            border-width: 1px;

        }


    </style>
</head>
<body>


<div class="box-wrapper">
    <div class ="top-container">

    </div>
    <hr id="line">
<div class="inner-container-bottom">

</div>

</div>


</body>
</html>