---
import '../styles/tailwind.css';
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/newfav.png"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}>
    <title>index • snoopz</title>

    <!-- Importing Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">

</head>
<body class="bg-[#151414]  flex flex-col items-center justify-center min-h-screen font-space-mono text-white">

<div class="bg-[#1b1919]   p-6 rounded-3xl shadow-lg max-w-3xl w-full border-solid border-white lg:text-2xl lg:h-2/6 lg:max-w-6xl ">
    <div class="border-b border-gray-300 pb-4 mb-4 flex flex-wrap justify-between  ">
        <h1 class=" inline-block text-xl font-bold   ">index</h1>
        <nav class=" flex space-x-4 font-bold m-1  text-md sm:flex-row text-neutral-300  ">
            <a class="hover:underline hover:text-white" href="/">About</a>
            <a class="hover:underline hover:text-white" href="/projects">Projects</a>
            <a class="hover:underline hover:text-white" href="/links">Links</a>
            <a class="hover:underline hover:text-white" href="/music">Music</a>
            <a class="hover:underline hover:text-white" href="/contact">Contact</a>


        </nav>
    </div>
    <div class="flex">
        <div class="flex flex-col ">
            <img src="pfp.jpg" alt="Jiji the cat" class="w-28 h-28  object-cover max-w-max mr-4 rounded">
            <div>
                <p class="font-semibold">Snoopz</p>
                <p class="text-gray-300">He/Him</p>
            </div>
        </div>
        <div class="mt-4">
            <p class="font-bold">hey there!</p>
            <p class="mt-2 text-white"> i'm a student in Minneapolis who goes by the name Snoopz online.
                i'm interested in comp sci, hardware, game dev, and cyber-sec amongst other topics.
                </p>
            <p class="mt-2">This site is still in the works, so don't expect much yet! </p>

        </div>
    </div>

</div>
<footer > </footer>
</body>
</html>
