---
import '../styles/tailwind.css';
---

<html lang="en">
<head>
    <!-- Common Meta Data -->

    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/newfav.png"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}>
    <title>projects • snoopz</title>

    <!-- Importing Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">

</head>
<body class="bg-[#1B1919]  flex flex-col items-center justify-center min-h-screen font-space-mono text-white">
<div class="bg-[#1B1919] border  p-6 rounded-lg shadow-lg max-w-3xl w-full border-solid border-white lg:text-2xl lg:h-2/6 lg:max-w-6xl ">
    <div class="border-b border-gray-300 pb-4 mb-4 flex flex-wrap justify-between  ">
        <h1 class=" inline-block text-xl font-bold   ">links</h1>
        <nav class=" flex space-x-4 font-bold m-1  text-md sm:flex-row text-neutral-300  ">
            <a class="hover:underline hover:text-white" href="/">About</a>
            <a class="hover:underline hover:text-white" href="/projects">Projects</a>
            <a class="hover:underline hover:text-white" href="/links">Links</a>
            <a class="hover:underline hover:text-white" href="/music">Music</a>
            <a class="hover:underline hover:text-white" href="/contact">Contact</a>


        </nav>
    </div>
    <div class="flex">
        <nav class="flex flex-col font-bold">
            <a href="https://github.com/Dev-Payton">Github</a>
        </nav>
    </div>

</div>
</body>
</html>