---
import '../styles/tailwind.css';
---

<html lang="en">
<head>
    <!-- Common Meta Data -->

    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/newfav.png"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}>
    <title>projects • snoopz</title>

    <!-- Importing Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">

</head>
<body class="bg-[#151414] text-white font-sans antialiased flex flex-col items-center justify-center min-h-screen ">


<div class=" rounded-3xl shadow-lg justify-center container mx-auto p-6 font-space-mono bg-[#1b1919]">
    <h2 class="text-3xl font-bold  mb-8 "> projects </h2>

    <div class=" grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 r">
        <!-- MelodiDOS-64 -->
        <div class="bg-[#1B1919] rounded-lg border-2 shadow-lg overflow-hidden transform hover:scale-105 transition-transform duration-300 cursor-pointer">
            <img src="/Meli.png" alt="Project 1" class="w-full h-48 object-cover">
            <div class="p-4 ">
                <div class="flex space-x-3  justify-between ">
                    <h3 class="text-xl font-bold mb-2 ">MelodiDOS-64 </h3>
                    <p class="text-neutral-300 mb-4  right-0  text-xl font-bold mb-2">In Development</p>

                </div>

                <p class="text-gray-400 mb-4"> melodiDOS-64 is a word game with a retro music twist. guess words from your favorite songs and
                    artists in a nostalgic yet modern 64-bit style. </p>

                <div class="flex justify-center space-x-4 absolute bottom-1 left-0 w-full">
                    <a href="#" class="text-neutral-200 hover:underline">about</a>
                    <a href="#" class="text-neutral-200 hover:underline">writeup</a>
                    <a href="#" class="text-neutral-200 hover:underline">source</a>
                </div>


            </div>
        </div>

       <div class="bg-[#1B1919] rounded-lg border-2 shadow-lg overflow-hidden transform hover:scale-105 transition-transform duration-300 cursor-pointer">
           <img src="/dicewareimage.png" alt="Project 2" class="w-full h-48 object-cover">
           <div class="p-4  ">
               <div class="flex space-x-3  justify-between ">
               <h3 class="text-xl font-bold mb-2">Minced</h3>
               <p class="text-neutral-300 mb-4  right-0  text-xl font-bold mb-2">In Development</p>
                </div>
               <p class="text-gray-400 mb-4"> minced is a simple CLI diceware clone developed in python </p>


               <div class="flex justify-center space-x-4  absolute  bottom-1 left-0 w-full   ">

                   <a href="#" class="text-neutral-200 hover:underline">about</a>
                   <a href="#" class="text-neutral-200 hover:underline">writeup</a>
                   <a href="#" class="text-neutral-200 hover:underline">source</a>
               </div>
           </div>

       </div>



        <div class="bg-[#1B1919] rounded-lg border-2 shadow-lg overflow-hidden transform hover:scale-105 transition-transform duration-300 cursor-pointer">
            <img src="/unnamed.jpg" alt="Project 3" class="w-full h-48 object-cover">
            <div class="p-4">

                <div class="flex space-x-3  justify-between ">
                    <h3 class="text-xl font-bold mb-2">Cloud9</h3>
                    <p class="text-neutral-300 mb-4  right-0  text-xl font-bold mb-2">In Development</p>
                </div>
                <p class="text-gray-400 mb-4">cloud9 is the epitome of simplicity and elegance in the form of a weather app.
                    designed for those who appreciate the beauty of minimalism.</p>
                <div class="flex justify-center space-x-4  absolute bottom-1 left-0 w-full   ">
                    <a href="#" class="text-neutral-200 hover:underline">about</a>
                    <a href="#" class="text-neutral-200 hover:underline">writeup</a>
                    <a href="#" class="text-neutral-200 hover:underline">source</a>
                </div>
            </div>
        </div>


    </div>
</div>

</body>
</html>