---
import '../styles/tailwind.css';
---

<html lang="en">
<head>
    <!-- Common Meta Data -->

    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/newfav.png"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}>
    <title>projects • snoopz</title>

    <!-- Importing Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">

</head>
<body>

<P> Hey</P>

</body>
</html>